body {
    background-image: url(images/bg.jpg);
    
}

.navbar a {
    text-decoration: none;
    color: #fff;
    border: solid 1px #B3292E;
    background-color: #B3292E;
    padding: 20px;
    border-bottom: solid 5px #939291;
}

.top-image {
    background-image: url(images/top-image.png);
    width: 100%;
    height: auto;
    border: solid 14px #fff;
    margin-top: 40px;
}

.grid {
    background-image: url(images/grid.png);
    height: 100%;
    width: 100%;
}

.middle-info {
    background-color: #fff;
    
}

a {
    text-decoration: none;
    color: #BA4042;
    
}