body {
    background-image: url(images/bg.jpg);
    
}

nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


nav ul {
    position: relative;
    display: flex;
    margin-right: 10px;
}

nav ul li {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #908F8F;
    margin-left: 10px;
    margin-top: 15px;
}

#facebook {
    color: #7580B0;
    background-color: #485793;
}

#wifi-signal {
    color: #D1B074;
    background-color: #C39245;
}

#twitter {
    color: #96A8CF;
    background-color: #718CC2;
}

#youtube {
    color: #BA6D64;
    background-color: #A44134;
}


.navbar a {
    text-decoration: none;
    color: #fff;
    border: solid 1px #B3292E;
    background-color: #B3292E;
    padding: 20px;
    border-bottom: solid 5px #939291;
}

.top-image {
    background-image: url(images/top-image.png);
    width: 100%;
    height: auto;
    border: solid 14px #fff;
    margin-top: 40px;
}

.grid {
    background-image: url(images/grid.png);
    height: 100%;
    width: 100%;
}

#sk8-news {
    background-color: #fff;
}

.middle-info {
    gap: 10px;
}

a {
    text-decoration: none;
    color: #BA4042;
}

#skateboards {
    width: 100%;
    height: 280px;
    background-color: white;
    margin: 20px auto;
}

#skateboards > div {
    position: relative;
    height: 265px;
    width: auto;
    padding: 5px;
}

.boards {
    position: absolute;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100%);
    width: 270px;
}


/* .skateboards img {
transform: rotate(90degs);
} */


/* .contact-info {
    background-color: #fff;
    margin-top: 25px;
    text-align: right;
}

.contact-heading {
    text-align: left;
    font-size: xx-large;
}

.contact-text {
    text-align: left;
}

.user-info {
    text-align: right;
} */

.lance {
    background-image: url(images/sk8er-4.png);
    width: 49%;
    height: 200px;
    background-position: 100%;
    box-shadow: 5px 5px #fff inset, -5px -5px #fff inset;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.rodney {
    background-image: url(images/sk8er-3.png);
    width: 49%;
    height: 200px;
    background-position: 20%;
    box-shadow: 5px 5px #fff inset, -5px -5px #fff inset;
    margin-left: 6px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.steve {
    background-image: url(images/sk8er-1.png);
    width: 100%; 
    height: 274px;
    object-fit: cover;
    box-shadow: 5px 5px #fff inset, -5px -5px #fff inset;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-position: 168px -78px;
    justify-content: center;
}

.tommy {
    background-image: url(images/sk8er-2.png);
    width: 32%; 
    object-fit: cover;
    box-shadow: 5px 5px #fff inset, -5px -5px #fff inset;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#contact {
    width: 100%;
    background-color: #fff;
    margin: 30px auto 50px auto;
    padding: 20px;
}

#contact ul {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 10px;
}

#contact ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #696969;
    margin-right: 5px;
}

.form-info {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

@media (max-width: 768px) {

.lance {
    width: 100%;
}

.rodney {
    width: 100%;
}

.tommy {
    width: 100%;
    height: 260px;
}




}